body{
    color: #ffd251;
    background-image: url("../common/img/bg.jpg");
    min-width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    font-weight: 300;
}

nav {
    height: 100px !important;
    line-height: 100px !important;
    font-weight: 400 !important;
}

nav form{
    margin-right: 50px;
}
strong {
    font-weight: 300 !important;
}

.content{
    background-color: #ffffff;
    margin-bottom: 50px;
    margin-top: 50px;
}

h2 {
    padding-top: 25px;
}

table{
    margin: auto !important;
}

td{
    text-align: center !important;
    border-radius: 0px !important;
    position: relative;
}

.size{
    height: 120px !important;
    width: 150px !important;
}
.event {
    font-weight: 300 !important;
    font-size: 14px !important;
}

.fill {
    background-color: rgba(0, 0, 0, 0);
}

.today {
    background-color: #00adff14;
    font-size: 45px !important;
}

.green-color {
    color: #0f9d58 !important;
}

.days {
    transition: all 0.3s ease;
    box-shadow: 0 0px 0px 0px rgba(0,0,0,0.0);
    font-size: 18px;
}
.days:hover{
    -webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}

.logo-img{
    width: 43% !important;
    margin-left: 50px;
}

.align-logout{
    margin-left: 30px;
}

.align-logout-nav{
    margin-top: 33px;
}

.padding-1 {
    margin: 20px !important;
}

input:-webkit-autofill {
    border: 1px solid transparent !important;
    -webkit-box-shadow: inset 0 0 0px 9999px transparent !important;
}

input:focus,
input:-webkit-autofill:focus {
    border-color: transparent !important;
    -webkit-box-shadow: inset 0 0 0px 9999px transparent,
    0 0 8px rgba(255, 255, 255, 1) !important;
}

.form-login{
    background-color: rgba(255,255,255, 1);
    width: 50%;
    padding: 30px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app-form{
    background-color: rgba(255,255,255, 1);
    width: 100%;
    padding: 30px !important;
}

.center-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventV{
    padding: 30px;
}

/*.headerV{*/
    /*font-size: 19px;*/
/*}*/

.light-font{
    font-weight:300;
}

.info-margin{
    margin-right: 50px;
}

.userPadding{
    padding: 30px;
}

.NFZdot{
    width: 15px;
    height: 15px;
    background-color: #ee6e73 ;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (max-width: 466px) {
    .form-login {
        width: 80%;
    }
}


